@import "../../../../styles/variables.scss";

.swiper {
  width: 100%;
  height: 100%;

  &Slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

    &Image {
      object-fit: cover;
      object-position: center;
    }
  }
}
