@import '../../../../../styles/variables.scss';

.option {
  transition: $transition;
  padding: 15px 40px 15px 20px;
  list-style-type: none;
  cursor: pointer;

  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }
}